extends ../layout

block content
    .page-header
        h3 All Images

    table(style='width:100%')
        tr
            //th Id
            th Name
            th Wikidata Label
            th Wikidata
            th Type
            th Created

        for image in images
            tr
                //td=image.id
                td=image.name
                td=image.wikidataEntity
                td=image.wikidataLabel
                td=image.mimetype
                td=image.createdAt
