extends ../layout

block content
    .page-header
        h3 All Images

    table(style='width:100%')
        tr
            th Image
            th Count
            th Wikidata Id
            th Wikidata Label
            th Type
            th Source
            th Created

        for image in images
            tr
                td
                    if image.wikidataEntity
                        img(src='/api/getImageById/' + image.id, style='max-height:30px' )
                    else
                        span Image
                td=image.viewCount
                td=image.wikidataEntity
                td=image.wikidataLabel
                td=image.mimetype
                td
                    if image.sourceUrl
                        a(href=image.sourceUrl) Source
                    else
                        span
                td=moment(image.createdAt).format('DD.MM.YYYY HH:mm')
                if user && user.role === 'admin'
                    td
                        form(method='POST', action=`/admin/image/${image.id}/delete`)
                            input(type='hidden', name='_csrf', value=_csrf)
                            input.button.button--delete(type='submit' value='X' onclick='return confirm("Are you sure you want to delete this entry? (Cannot be undone)")')
